
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">multiSearch</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">about</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
			<h1 class="cover-heading">Ask me out..</h1>
			<form>
				<div class="form-row align-items-center">
					<div class="col-auto">
					  <label class="sr-only" for="inlineFormInput">Name</label>
					  <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">
					</div>
					<div class="col-auto">
					  <label class="sr-only" for="inlineFormInputGroup">text query</label>
					  <div class="input-group mb-2 mb-sm-0">
					    <div class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></p></div>
					    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="example image">
					  </div>
					</div>
					<!--<div class="col-auto">
					  <div class="form-check mb-2 mb-sm-0">
					    <label class="form-check-label">
					      <input class="form-check-input" type="checkbox"> Remember me
					    </label>
					  </div>
					</div>-->
					<div class="col-auto">
					  <button type="submit" class="btn btn-primary">search</button>
					</div>
				</div>
			</form>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>developed by<a href="https://themeewa.com/"> Rahul Meewa</a>,<a href="https://twitter.com/mdo"> as a IT702 project</a>.</p>
            </div>
          </footer>

        </div>

      </div>

    </div>